<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Event</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>admin1234</param-value>
  </context-param>
  <servlet>
    <servlet-name>login-user</servlet-name>
    <servlet-class>LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login-user</servlet-name>
    <url-pattern>/loginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reg</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>LoginUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/loginUser</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>signup-user</servlet-name>
    <servlet-class>SignupUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup-user</servlet-name>
    <url-pattern>/signupUser</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>signupFilter</filter-name>
    <filter-class>SignupUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>signupFilter</filter-name>
    <url-pattern>/signupUser</url-pattern>
  </filter-mapping>
  <session-config>
   <session-timeout>2</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp </location>
  </error-page>
</web-app>